body {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slider {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    height: 40%;
    margin-top: 10%;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.active {
    fill: #D32F2F !important;
}

path {
    transition: fill 750ms;
}

.hide {
    display: none;
}