html, body {
    height: 100%;
    margin: 0;
}

body {
    padding: 20px;
    background-color: #3F51B5;
    overflow-y: auto;
}

#title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    padding: 20px;
}

.active {
    fill: #D32F2F !important;
}

path {
    transition: fill 750ms;
}

.hide {
    display: none;
}

.rect-tooltip {

}