body {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.active {
    fill: #D32F2F !important;
}

path {
    transition: fill 750ms;
}

.hide {
    display: none;
}

.rect-tooltip {

}